:root {
  --bg-color: hsl(240, 11%, 15%);
}
body {
  background: linear-gradient(var(--bg-color), hsl(240, 11%, 15%));
  margin: 0;
  color: #fff;
}
* {
  box-sizing: border-box;
}

.wrapper {
  height: 200vh; /* Set the height of the wrapper to create a long scrolling page */
}

.container {
  position: fixed; /* Set the position to fixed so the container stays in view */
  top: 50%; /* Set the top position to center the container vertically */
  left: 50%; /* Set the left position to center the container horizontally */
  transform: translate(-50%, -50%); /* Center the container using translate */
  transition: all 0.2s;
}

.item {
  width: 90vw; /* Set the width of the item */
  height: 500px; /* Set the height of the item */
  border-radius: 28px;
}

.container.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
}

.intro-content {
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--bg-color);
  border-radius: 23px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  padding: 28px;
}

*:not(
    .font-heading,
    .font-heading *,
    .material-symbols-outlined,
    .material-symbols-outlined *
  ) {
  font-family: "DM Sans", sans-serif !important;
}

.font-heading,
.font-heading * {
  font-family: "Space Grotesk", sans-serif !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.animate-spin {
  animation: spin 2s infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}
